.backPic {
    height: 100vh;
    background-image: url("../img/just_right_kookyhouse.jpg"); 
    background-size: cover;
    /*opacity: 0.2;*/
}

body {
    height: 100vh;
    background-image: url("../public/assets/img/just_right_bedroom.jpg"); 
    background-size: cover;
    /*opacity: 0.2;*/
}

.game {
    position: absolute;
    right: 10%;
    left: 60%;
    top: 25%;
    /*padding-top: 50px;*/
}

.game2 {
    /*position: absolute;*/
    margin-left: 10%;
    margin-top: 10%;
    height: 80%;
    width: 80%;
    z-index: 3;
    /*padding-top: 50px;*/
}

.gameTwo {
    z-index: 3;
}

.frame {
    margin-top: 30px;
}

img {
    width: 100%;
}

#slowFade {
  -webkit-animation-duration: 5s;
  
}

#slowFade {
  -webkit-animation-duration: 5s;
  
}