<!doctype HTML>
<html>

	<head>
	    <title>GTFO (Get The Fellow Out)</title>
	    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	    <link rel="stylesheet" href="css/style.css" type="text/css">
	</head>

	<body>
		{{{body}}}
	</body>
</html>