<div class="endStagePic">
<div class="row ending">
	<div class="col-xs-3 col-xs-offset-1 scores">
		<ul>
			<li>Lorem Ipsum - Some Numerical Score</li>
			<li>Lorem Ipsum - Some Numerical Score</li>
			<li>Lorem Ipsum - Some Numerical Score</li>
			<li>Lorem Ipsum - Some Numerical Score</li>
			<li>Lorem Ipsum - Some Numerical Score</li>
		</ul>
	</div>

	<div class="col-xs-6 col-xs-offset-1 endStory">
		<p>Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. 
		Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. 
		Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. 
		Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. </p>
	</div>

</div>