<div class="endStagePic">
<div class="row ending">
	<div class="col-xs-3 col-xs-offset-1 scores">
		<ol>
			{{#each scores}}
			<li>{{player_name}} {{score}}</li>
			{{/each}}
		</ol>
	</div>

	<div class="col-xs-6 col-xs-offset-1 endStory">
		<p>Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. 
		Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. 
		Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. 
		Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. Blah blah blahdee blah. </p>
	</div>

</div>