<div class="row">
	<div class="gameTwo col-xs-12">
		<div class="backPic2">
			<div class="animated fadeIn" id="slowFade">
				<div class="frame col-xs-7 col-xs-offset-3">
		        	<img src="img/frames/frame1.png">
		        </div>
		    </div>
		</div>
	</div>
</div>