<div class="row">
	<div class="gameTwo col-xs-12">
		<div class="backPic2" style="background-image: url({{url}})">
			<div class="animated fadeIn" id="slowFade">
				<div class="frame col-xs-10 col-xs-offset-1">
		        	<img src="img/frames/frame1.png">
		        </div>
		    </div>
		</div>
	</div>
</div>