<div class="backPic">
    <!--Hello Victor!-->
</div>

<div class="animated fadeIn" id="slowFade">
    <div class="game">
        <div class="panel panel-default">
            <div class="panel-heading">Good Day Sir!</div>
                <div class="panel-body">
                    Placeholder text goes here, old chap!
                </div>
        </div>
        <form method="POST" action="/signin">
            <div class="form-group">
                 <label class="control-label" for="focusedInput">Good sir, could you honor me with your name?</label>
                    <input class="form-control" id="username" type="text" placeholder="Sir Hedgeworth Pennypincher">
                    </div>
        <div class="form-group">
                <label class="control-label" for="focusedInput">Could you kindly provide me with a password?</label>
                    <input class="form-control" id="password" type="text" placeholder="Password">
        </div>
            <button class="btn btn-default btn-med btn-block">Sign me in Good Sir!</button>
        </form>

    </div>
</div>
