<div class="backPic">
    <!--Hello Victor!-->
</div>
<blockquote>The Tale
    <p>Detective London Fog is the most oblivious, imprudent, and lumbering fellow of the English Guard that anyone has ever been unfortunate enough to have seen but I say, he has unraveled more mysteries than that lovable American group of pesky teenagers. 

    Detective Fog has been working strenuously for the past few years without a quiet holiday so he has decided to take his buggy out to the countryside all by himself. That was the idiotic mistake that led to this fantastic adventure that is about to begin!</p>
</blockquote>
<div class="animated fadeIn" id="slowFade">
    <div class="game">
        <div class="panel panel-default">
            <div class="panel-heading">Good Day Sir!</div>
                <div class="panel-body">
                    You are given 2 choices for each of the 3 rooms. You will choose 1 from each room. At the forth and final room, you will have either chosen the correct 3 items from the previous rooms or not have.
                </div>
        </div>
        <form method="POST" action="/signin">
            <div class="form-group">
                 <label class="control-label" for="focusedInput">Good sir, could you honor me with your name?</label>
                    <input class="form-control" id="username" type="text" placeholder="Sir Hedgeworth Pennypincher">
                    </div>
        <div class="form-group">
                <label class="control-label" for="focusedInput">Could you kindly provide me with a password?</label>
                    <input class="form-control" id="password" type="text" placeholder="Password">
        </div>
            <button class="btn btn-default btn-med btn-block">Sign me in Old Chap!</button>
        </form>

    </div>
</div>
