.backPic {
    height: 150vh;
    background-image: url("../img/just_right_kookyhouse.jpg"); 
    background-size: cover;
    /*opacity: 0.2;*/
}

.backPic2 {
    /*height: 100%;*/
    overflow: auto;
    background-size: cover;
    /*opacity: 0.2;*/
}

.game {
    position: absolute;
    left: 60%;
    top: 25%;
    /*padding-top: 50px;*/
}

.game2 {
    /*position: absolute;*/
    margin-left: 25%;
    margin-top: 25%;
    height: 50%;
    width: 50%;
    z-index: 3;
    /*padding-top: 50px;*/
}

.gameTwo {
    margin-top: 10px
    z-index: 3;
    height: 75%;
}

.frame {
    padding: 130px 230px;
    overflow: auto;
    height: 100vh;
}

#slowFade {
  -webkit-animation-duration: 5s;
  
}

.bedroom {
    background: url("../img/just_right_bedroom.jpg") center center no-repeat;
}

.library {
    background: url("../img/just_right_library.jpg") center center no-repeat;
}

.maidsRoom {
    background: url("../img/just_right_maids_room.jpg") center center no-repeat;
}

.placeholder {
    background: url("../img/just_right_abandoned_library.jpg") center center no-repeat;
}

.frameIMG {
    background: url("../img/frames/frame1.png") no-repeat top center;
    background-size: cover;
}

h1 {
    text-align: center;
}