.backPic {
    height: 150vh;
    background-image: url("../img/just_right_kookyhouse.jpg"); 
    background-size: cover;
    /*opacity: 0.2;*/
}

.backPic2 {
    height: 150%;
    overflow: auto;
    background-size: cover;
    /*opacity: 0.2;*/
}

.game {
    position: absolute;
    left: 60%;
    top: 25%;
    /*padding-top: 50px;*/
}

.game2 {
    /*position: absolute;*/
    margin-left: 25%;
    margin-top: 25%;
    height: 50%;
    width: 50%;
    z-index: 3;
    /*padding-top: 50px;*/
}

.gameTwo {
    z-index: 3;
}

.frame {
    margin-top: 30px;
    padding: 50px;
    overflow: auto;
    height: 100%;
}

img {
    width: 100%;
}

#slowFade {
  -webkit-animation-duration: 5s;
  
}

#slowFade {
  -webkit-animation-duration: 5s;
  
}